/*********************************************
 * CUSTOM STYLES by Bozydar
 *********************************************/
 
 .orginal_img{
    border: 0 !important;
    box-shadow: none !important;
    background: 0 !important
 }
